In [15]:
#Leitura do ficheiro dos bombeiros
import pandas as pd

csv_reader = pd.read_csv('database_bombeiros.csv')
print(csv_reader)

     First Name    Last Name Age  ... Emergency     Property Type Unnamed: 13
0        Robert      Pollard  64  ...       Yes  Outdoor Property         NaN
1           Lee        Purdy  57  ...       Yes       Residential         NaN
2        Ronald      Osadacz  36  ...       Yes       Street/Road         NaN
3         Allen     Streeter  58  ...       Yes  Outdoor Property         NaN
4          Gary  Bankert, Sr  37  ...        No               NaN         NaN
...         ...          ...  ..  ...       ...               ...         ...
2000       Jack         Rose  19  ...       Yes       Residential         NaN
2001      Stacy     Crawford  47  ...        No               NaN         NaN
2002     Willie      Ratliff  66  ...        No               NaN         NaN
2003      Louis        Patti  67  ...        No               NaN         NaN
2004    Patrick    Wolterman  28  ...       Yes       Residential         NaN

[2005 rows x 14 columns]

In [16]:
print("Numero de NaN [Last Name] --> ", csv_reader['Last Name'].isna().sum())
print("Numero de NaN [Age] --> ", csv_reader['Age'].isna().sum())
print("Numero de NaN [Rank] --> ", csv_reader['Rank'].isna().sum())
print("Numero de NaN [Classification] --> ", csv_reader['Classification'].isna().sum())
print("Numero de NaN [Date of Incident] --> ", csv_reader['Date of Incident'].isna().sum())
print("Numero de NaN [Date of Death] --> ", csv_reader['Date of Death'].isna().sum())
print("Numero de NaN [Cause Of Death] --> ", csv_reader['Cause Of Death'].isna().sum())
print("Numero de NaN [Nature Of Death] --> ", csv_reader['Nature Of Death'].isna().sum())
print("Numero de NaN [Duty] --> ", csv_reader['Duty'].isna().sum())
print("Numero de NaN [Activity] --> ", csv_reader['Activity'].isna().sum())
print("Numero de NaN [Emergency] --> ", csv_reader['Emergency'].isna().sum())
print("Numero de NaN [Property Type] --> ", csv_reader['Property Type'].isna().sum())

print("\n")
lines = len(csv_reader)
print("Numero de linhas antes do tratamento de dados --> ", lines)
print("\n")

csv_reader.dropna(subset = ["Last Name"], inplace=True)
print("Numero de NaN [Last Name] --> ", csv_reader['Last Name'].isna().sum())
#csv_reader.dropna(subset = ["Age"], inplace=True)
csv_reader['Age'].fillna('46', inplace=True)
print("Numero de NaN [Age] --> ", csv_reader['Age'].isna().sum())
csv_reader.dropna(subset = ["Rank"], inplace=True)
print("Numero de NaN [Rank] --> ", csv_reader['Rank'].isna().sum())
csv_reader.dropna(subset = ["Classification"], inplace=True)
print("Numero de NaN [Classification] --> ", csv_reader['Classification'].isna().sum())
csv_reader.dropna(subset = ["Date of Incident"], inplace=True)
print("Numero de NaN [Date of Incident] --> ", csv_reader['Date of Incident'].isna().sum())
csv_reader.dropna(subset = ["Date of Death"], inplace=True)
print("Numero de NaN [Date of Death] --> ", csv_reader['Date of Death'].isna().sum())
csv_reader.dropna(subset = ["Cause Of Death"], inplace=True)
print("Numero de NaN [Cause Of Death] --> ", csv_reader['Cause Of Death'].isna().sum())
csv_reader.dropna(subset = ["Nature Of Death"], inplace=True)
print("Numero de NaN [Nature Of Death] --> ", csv_reader['Nature Of Death'].isna().sum())
csv_reader.dropna(subset = ["Duty"], inplace=True)
print("Numero de NaN [Duty] --> ", csv_reader['Duty'].isna().sum())
csv_reader.dropna(subset = ["Activity"], inplace=True)
print("Numero de NaN [Activity] --> ", csv_reader['Activity'].isna().sum())
csv_reader.dropna(subset = ["Emergency"], inplace=True)
print("Numero de NaN [Emergency] --> ", csv_reader['Emergency'].isna().sum())
#csv_reader.dropna(subset = ["Property Type"], inplace=True)
csv_reader['Property Type'].fillna('N/A', inplace=True)
print("Numero de NaN [Property Type] --> ", csv_reader['Property Type'].isna().sum())

print("\n")
lines = len(csv_reader)
print("Numero de linhas antes do tratamento de dados --> ", lines)
print("\n")

coluna = ['Media de idade']

Numero de NaN [Last Name] -->  1
Numero de NaN [Age] -->  359
Numero de NaN [Rank] -->  7
Numero de NaN [Classification] -->  3
Numero de NaN [Date of Incident] -->  1
Numero de NaN [Date of Death] -->  0
Numero de NaN [Cause Of Death] -->  10
Numero de NaN [Nature Of Death] -->  3
Numero de NaN [Duty] -->  3
Numero de NaN [Activity] -->  9
Numero de NaN [Emergency] -->  0
Numero de NaN [Property Type] -->  205


Numero de linhas antes do tratamento de dados -->  2005


Numero de NaN [Last Name] -->  0
Numero de NaN [Age] -->  0
Numero de NaN [Rank] -->  0
Numero de NaN [Classification] -->  0
Numero de NaN [Date of Incident] -->  0
Numero de NaN [Date of Death] -->  0
Numero de NaN [Cause Of Death] -->  0
Numero de NaN [Nature Of Death] -->  0
Numero de NaN [Duty] -->  0
Numero de NaN [Activity] -->  0
Numero de NaN [Emergency] -->  0
Numero de NaN [Property Type] -->  0


Numero de linhas antes do tratamento de dados -->  1978

In [17]:
csv_reader["Full Name"] = csv_reader["First Name"] + " " + csv_reader["Last Name"]

csv_reader[['mes','dia','ano']]=csv_reader['Date of Incident'].str.split(' ',expand=True)
csv_reader['dia']=csv_reader['dia'].str.replace(',','')
csv_reader['mes']=csv_reader['mes'].str.replace('Jan','01').replace('Feb','02').replace('Mar','03').replace('Apr','04').replace('May','05').replace('Jun','06').replace('Jul','07').replace('Aug','08').replace('Sep','09').replace('Oct','10').replace('Nov','11').replace('Dec','12')
csv_reader['Date of Incident'] = csv_reader['dia']+'/'+csv_reader['mes']+'/'+csv_reader['ano']

csv_reader[['mes','dia','ano']]=csv_reader['Date of Death'].str.split(' ',expand=True)
csv_reader['dia']=csv_reader['dia'].str.replace(',','')
csv_reader['mes']=csv_reader['mes'].str.replace('Jan','01').replace('Feb','02').replace('Mar','03').replace('Apr','04').replace('May','05').replace('Jun','06').replace('Jul','07').replace('Aug','08').replace('Sep','09').replace('Oct','10').replace('Nov','11').replace('Dec','12')
csv_reader['Date of Death'] = csv_reader['dia']+'/'+csv_reader['mes']+'/'+csv_reader['ano']

csv_reader=csv_reader[['Full Name','Age','Rank', 'Classification', 'Date of Incident', 'Date of Death','Cause Of Death', 'Nature Of Death', 'Duty', 'Activity', 'Emergency','Property Type']]
print(csv_reader)

              Full Name Age  ... Emergency     Property Type
0        Robert Pollard  64  ...       Yes  Outdoor Property
1             Lee Purdy  57  ...       Yes       Residential
2        Ronald Osadacz  36  ...       Yes       Street/Road
3        Allen Streeter  58  ...       Yes  Outdoor Property
4      Gary Bankert, Sr  37  ...        No               N/A
...                 ...  ..  ...       ...               ...
2000          Jack Rose  19  ...       Yes       Residential
2001     Stacy Crawford  47  ...        No               N/A
2002     Willie Ratliff  66  ...        No               N/A
2003        Louis Patti  67  ...        No               N/A
2004  Patrick Wolterman  28  ...       Yes       Residential

[1978 rows x 12 columns]

In [12]:
import numpy as np
df_reduzido = csv_reader
df_reduzido["Age"] = pd.to_numeric(df_reduzido["Age"])
df_reduzido[['mes','dia','ano']]=df_reduzido['Date of Incident'].str.split('/',expand=True)
mask = df_reduzido['ano']>='2000'
df_reduzido = df_reduzido[mask]
mask = (df_reduzido['Classification']=='Career') | (df_reduzido['Classification']=='Volunteer')
df_reduzido = df_reduzido[mask]
df_reduzido = df_reduzido[['Full Name','Age','Rank', 'Classification', 'Date of Incident', 'Cause Of Death', 'Nature Of Death', 'Duty', 'Activity', 'Emergency','Property Type']]

In [5]:
#Salvar
csv_reader.to_csv('database_bombeiros_corrigido.csv', index=False)
df_reduzido.to_csv('database_bombeiros_reduzido.csv', index=False)

**FIM**

---

In [ ]:
#Testes
#csv_reader.columns
csv_teste = csv_reader[['Full Name','Age','Rank','Classification']]
csv_teste.to_csv('database_bombeiros_teste.csv', index=False)

In [ ]:
#Adiciona prefixo no nome
#pattern = 'Chief|Marshall|Captain|Lieutenant|Inspector|Director|President'
pattern1 = 'Firefighter'
pattern2 = 'Captain|Lieutenant|Fire Chief|Assistant Chief|Pilot|||'

mask =  csv_reader['Rank'].str.contains(pattern)
csv_reader.loc[mask,'Rank'] = 'L1 ' + csv_reader['Rank']
csv_reader.loc[~mask,'Rank'] = 'L0 ' + csv_reader['Rank']

csv_reader

              Full Name Age  ... Emergency     Property Type
0        Robert Pollard  64  ...       Yes  Outdoor Property
1             Lee Purdy  57  ...       Yes       Residential
2        Ronald Osadacz  36  ...       Yes       Street/Road
3        Allen Streeter  58  ...       Yes  Outdoor Property
5          Juan De Leon  53  ...        No      Store/Office
...                 ...  ..  ...       ...               ...
1997   Lawrence Millard  56  ...       Yes       Street/Road
1998     Daniel Capuano  43  ...       Yes           Storage
1999       Sidney Winer  91  ...        No       Street/Road
2000          Jack Rose  19  ...       Yes       Residential
2004  Patrick Wolterman  28  ...       Yes       Residential

[1433 rows x 12 columns]

In [ ]:
#Rank grouping
csv_teste = csv_reader[['Full Name','Age','Rank']]
ranks = csv_teste['Rank'].unique()
#ranks
csv_reader.columns

Index(['Full Name', 'Age', 'Rank', 'Classification', 'Date of Incident',
       'Date of Death', 'Cause Of Death', 'Nature Of Death', 'Duty',
       'Activity', 'Emergency', 'Property Type'],
      dtype='object')

In [ ]:
#filtro strings
pattern = 'Chief|Marshall|Captain|Lieutenant|Inspector|Director|President'
df_teste = csv_reader
mask =  df_teste['Rank'].str.contains(pattern)
df_teste.loc[mask,'Rank'] = 'L1 ' + df_teste['Rank']
df_teste.loc[~mask,'Rank'] = 'L0 ' + df_teste['Rank']

df_teste

              Full Name Age  ... Emergency     Property Type
0        Robert Pollard  64  ...       Yes  Outdoor Property
1             Lee Purdy  57  ...       Yes       Residential
2        Ronald Osadacz  36  ...       Yes       Street/Road
3        Allen Streeter  58  ...       Yes  Outdoor Property
5          Juan De Leon  53  ...        No      Store/Office
...                 ...  ..  ...       ...               ...
1997   Lawrence Millard  56  ...       Yes       Street/Road
1998     Daniel Capuano  43  ...       Yes           Storage
1999       Sidney Winer  91  ...        No       Street/Road
2000          Jack Rose  19  ...       Yes       Residential
2004  Patrick Wolterman  28  ...       Yes       Residential

[1433 rows x 12 columns]

In [ ]:
pattern = r'Chief|Captain|Inspector|Director|President'
df_teste = csv_reader
mask = df_teste['Rank'].str.contains(pattern)
df_teste.loc[mask]
#df_teste

           Full Name Age  ... Emergency     Property Type
1          Lee Purdy  57  ...       Yes       Residential
2     Ronald Osadacz  36  ...       Yes       Street/Road
5       Juan De Leon  53  ...        No      Store/Office
7        James Altic  47  ...       Yes       Street/Road
9        Walter Gass  74  ...       Yes       Residential
...              ...  ..  ...       ...               ...
1965     James Hicks  44  ...        No      Store/Office
1980    Barry Miller  50  ...       Yes       Street/Road
1991   Walter Szelag  65  ...        No  Outdoor Property
1992    Terry Culver  65  ...       Yes       Residential
2000       Jack Rose  19  ...       Yes       Residential

[380 rows x 12 columns]

In [4]:
import numpy as np
df_teste = csv_reader
df_teste["Age"] = pd.to_numeric(df_teste["Age"])


idade = np.arange(1,11)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[0-10]'
idade = np.arange(11,21)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[11-20]'
idade = np.arange(21,31)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[21-30]'
idade = np.arange(31,41)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[31-40]'
idade = np.arange(41,51)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[41-50]'
idade = np.arange(51,61)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[51-60]'
idade = np.arange(61,151)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[61-100]'
#idade = np.arange(71,101)
#mask = df_teste['Age'].isin(idade)
#df_teste.loc[mask,'Age_group'] = '[71-100]'

#Group=df_teste.groupby(['Age_group','Classification'], as_index=False).count()
#Group.to_csv('database_bombeiros_agrupado.csv', index=False)
#df_teste[['mes','dia','ano']]=df_teste['Date of Incident'].str.split('/',expand=True)
df_teste[['mes','dia','ano']]=df_teste['Date of Death'].str.split('/',expand=True)
Group=df_teste.groupby(['Age_group','ano'], as_index=False).count()

Group

   Age_group   ano  Full Name  Age  ...  Emergency  Property Type  mes  dia
0    [11-20]  2000          3    3  ...          3              3    3    3
1    [11-20]  2001          3    3  ...          3              3    3    3
2    [11-20]  2002         10   10  ...         10             10   10   10
3    [11-20]  2003          5    5  ...          5              5    5    5
4    [11-20]  2004          5    5  ...          5              5    5    5
..       ...   ...        ...  ...  ...        ...            ...  ...  ...
90  [61-100]  2011          7    7  ...          7              7    7    7
91  [61-100]  2012          9    9  ...          9              9    9    9
92  [61-100]  2013          5    5  ...          5              5    5    5
93  [61-100]  2014         13   13  ...         13             13   13   13
94  [61-100]  2015         11   11  ...         11             11   11   11

[95 rows x 16 columns]

In [6]:
import numpy as np

df_teste = csv_reader
df_teste["Age"] = pd.to_numeric(df_teste["Age"])
df_teste[['mes','dia','ano']]=df_teste['Date of Incident'].str.split('/',expand=True)
Group=df_teste.groupby(['ano'], as_index=False).count()

Group

     ano  Full Name  Age  Rank  ...  Property Type  Age_group  mes  dia
0   1978          1    1     1  ...              1          1    1    1
1   1982          1    1     1  ...              1          1    1    1
2   1990          1    1     1  ...              1          1    1    1
3   1993          1    1     1  ...              1          1    1    1
4   1994          1    1     1  ...              1          1    1    1
5   1995          2    2     2  ...              2          2    2    2
6   1996          2    2     2  ...              2          2    2    2
7   1999          3    3     3  ...              3          3    3    3
8   2000         90   90    90  ...             90         90   90   90
9   2001        106  106   106  ...            106        106  106  106
10  2002         95   95    95  ...             95         95   95   95
11  2003         98   98    98  ...             98         98   98   98
12  2004        116  116   116  ...            116        116  116  116
13  2005         91   91    91  ...             91         91   91   91
14  2006        105  105   105  ...            105        105  105  105
15  2007        116  116   116  ...            116        116  116  116
16  2008        111  111   111  ...            111        111  111  111
17  2009         87   87    87  ...             87         87   87   87
18  2010         84   84    84  ...             84         84   84   84
19  2011         74   74    74  ...             74         74   74   74
20  2012         64   64    64  ...             64         64   64   64
21  2013         77   77    77  ...             77         77   77   77
22  2014         56   56    56  ...             56         56   56   56
23  2015         51   51    51  ...             51         51   51   51

[24 rows x 16 columns]

In [17]:
import numpy as np

df_teste = csv_reader
df_teste["Age"] = pd.to_numeric(df_teste["Age"])
df_teste[['mes','dia','ano']]=df_teste['Date of Incident'].str.split('/',expand=True)
mask = df_teste['ano']
Group=df_teste.loc[mask < "2000"]

Group

              Full Name  Age              Rank  ... mes dia   ano
0        Robert Pollard   64       Firefighter  ...  31  12  1999
8         Brian Burnett   23       Firefighter  ...  28  10  1999
158      Thomas Johnson   47  Forestry Officer  ...  26  07  1995
594   Joseph Tynan, Jr.   55       Firefighter  ...  23  11  1982
732        Harry Zilkan   56   Assistant Chief  ...   1  07  1996
946       Dennis Bottge   53        Lieutenant  ...  10  02  1994
1022     Donald Herbert   44       Firefighter  ...  29  12  1995
1028     George Jackson   67       Firefighter  ...  21  10  1990
1344        John Clasby   45       Firefighter  ...  29  06  1999
1443         Ramon Hain   50       Firefighter  ...  24  11  1996
1580       Thomas Lange   60       Firefighter  ...   5  02  1978
1596      Harold Gibson   53   Firefighter III  ...  19  06  1993

[12 rows x 15 columns]

In [27]:
csv_reader["Age"] = pd.to_numeric(csv_reader["Age"])
csv_reader.dtypes

Full Name           object
Age                  int64
Rank                object
Classification      object
Date of Incident    object
Date of Death       object
Cause Of Death      object
Nature Of Death     object
Duty                object
Activity            object
Emergency           object
Property Type       object
dtype: object

In [22]:
import numpy as np
df_teste = csv_reader
df_teste["Age"] = pd.to_numeric(df_teste["Age"])

idade = np.arange(1,11)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[0-10]'
idade = np.arange(11,21)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[11-20]'
idade = np.arange(21,31)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[21-30]'
idade = np.arange(31,41)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[31-40]'
idade = np.arange(41,51)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[41-50]'
idade = np.arange(51,61)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[51-60]'
idade = np.arange(61,151)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[61-100]'

classification = 'Paid-on-Call|Wildland Full-Time|Wildland Contract|Wildland Part-Time|Part-Time|Industrial'
mask =  df_teste['Classification'].str.contains(classification)
df_teste.loc[mask,'Classification'] = 'others'

df_teste[['mes','dia','ano']]=df_teste['Date of Incident'].str.split('/',expand=True)

Group=df_teste.groupby(['Age_group','Classification','ano'], as_index=False).count()


#df_teste
Group


#Group=df_teste.groupby(['Age_group','Classification'], as_index=False).count()
#Group.to_csv('database_bombeiros_agrupado.csv', index=False)
#df_teste[['mes','dia','ano']]=df_teste['Date of Incident'].str.split('/',expand=True)
#df_teste[['mes','dia','ano']]=df_teste['Date of Death'].str.split('/',expand=True)
#Group=df_teste.groupby(['Age_group','ano'], as_index=False).count()

#Group

    Age_group Classification   ano  ...  Property Type  mes  dia
0     [11-20]         Career  2001  ...              2    2    2
1     [11-20]         Career  2002  ...              7    7    7
2     [11-20]         Career  2003  ...              1    1    1
3     [11-20]         Career  2006  ...              1    1    1
4     [11-20]      Volunteer  2000  ...              3    3    3
..        ...            ...   ...  ...            ...  ...  ...
237  [61-100]         others  2009  ...              2    2    2
238  [61-100]         others  2012  ...              2    2    2
239  [61-100]         others  2013  ...              1    1    1
240  [61-100]         others  2014  ...              2    2    2
241  [61-100]         others  2015  ...              1    1    1

[242 rows x 16 columns]

In [5]:
#filtros
import numpy as np
df_teste = csv_reader
df_teste["Age"] = pd.to_numeric(df_teste["Age"])
df_teste[['mes','dia','ano']]=df_teste['Date of Incident'].str.split('/',expand=True)
print(df_teste.columns)
mask = df_teste['ano']>='2000'
df_teste = df_teste[mask]
mask = (df_teste['Classification']=='Career') | (df_teste['Classification']=='Volunteer')
df_teste = df_teste[mask]
df_teste=df_teste[['Full Name','Age','Rank', 'Classification', 'Date of Incident', 'Cause Of Death', 'Nature Of Death', 'Duty', 'Activity', 'Emergency','Property Type']]
df_teste.to_csv('database_bombeiros_reduzido.csv', index=False)

df_reduzido = df_teste
df_teste

Index(['Full Name', 'Age', 'Rank', 'Classification', 'Date of Incident',
       'Date of Death', 'Cause Of Death', 'Nature Of Death', 'Duty',
       'Activity', 'Emergency', 'Property Type', 'mes', 'dia', 'ano'],
      dtype='object')

              Full Name  Age  ... Emergency     Property Type
1             Lee Purdy   57  ...       Yes       Residential
2        Ronald Osadacz   36  ...       Yes       Street/Road
3        Allen Streeter   58  ...       Yes  Outdoor Property
5          Juan De Leon   53  ...        No      Store/Office
7           James Altic   47  ...       Yes       Street/Road
...                 ...  ...  ...       ...               ...
1997   Lawrence Millard   56  ...       Yes       Street/Road
1998     Daniel Capuano   43  ...       Yes           Storage
1999       Sidney Winer   91  ...        No       Street/Road
2000          Jack Rose   19  ...       Yes       Residential
2004  Patrick Wolterman   28  ...       Yes       Residential

[1275 rows x 11 columns]

In [7]:
#Dataframe Reduzido e Agrupado
import numpy as np
df_teste = df_reduzido
df_teste["Age"] = pd.to_numeric(df_teste["Age"])

idade = np.arange(1,11)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[0-10]'
idade = np.arange(11,21)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[11-20]'
idade = np.arange(21,31)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[21-30]'
idade = np.arange(31,41)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[31-40]'
idade = np.arange(41,51)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[41-50]'
idade = np.arange(51,61)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[51-60]'
idade = np.arange(61,151)
mask = df_teste['Age'].isin(idade)
df_teste.loc[mask,'Age_group'] = '[61-100]'

classification = 'Paid-on-Call|Wildland Full-Time|Wildland Contract|Wildland Part-Time|Part-Time|Industrial'
mask =  df_teste['Classification'].str.contains(classification)
df_teste.loc[mask,'Classification'] = 'others'

df_teste[['mes','dia','ano']]=df_teste['Date of Incident'].str.split('/',expand=True)

Group=df_teste.groupby(['Age_group','Classification','ano','Duty'], as_index=False).count()

Group

    Age_group Classification   ano  ... Property Type  mes  dia
0     [11-20]         Career  2001  ...             2    2    2
1     [11-20]         Career  2002  ...             5    5    5
2     [11-20]         Career  2002  ...             1    1    1
3     [11-20]         Career  2002  ...             1    1    1
4     [11-20]         Career  2003  ...             1    1    1
..        ...            ...   ...  ...           ...  ...  ...
532  [61-100]      Volunteer  2014  ...             1    1    1
533  [61-100]      Volunteer  2015  ...             4    4    4
534  [61-100]      Volunteer  2015  ...             2    2    2
535  [61-100]      Volunteer  2015  ...             1    1    1
536  [61-100]      Volunteer  2015  ...             2    2    2

[537 rows x 15 columns]

In [18]:
csv_reader

              Full Name Age  ... Emergency     Property Type
0        Robert Pollard  64  ...       Yes  Outdoor Property
1             Lee Purdy  57  ...       Yes       Residential
2        Ronald Osadacz  36  ...       Yes       Street/Road
3        Allen Streeter  58  ...       Yes  Outdoor Property
4      Gary Bankert, Sr  37  ...        No               N/A
...                 ...  ..  ...       ...               ...
2000          Jack Rose  19  ...       Yes       Residential
2001     Stacy Crawford  47  ...        No               N/A
2002     Willie Ratliff  66  ...        No               N/A
2003        Louis Patti  67  ...        No               N/A
2004  Patrick Wolterman  28  ...       Yes       Residential

[1978 rows x 12 columns]